/* /Pages/Key.razor.rz.scp.css */
.question-button-container[b-wl6u20es32] {
    display: flex;
    flex-wrap: wrap;
}

.question-button[b-wl6u20es32] {
    /*display: inline-block;*/
    padding: 10px 15px;
    background-color: #fafafa;
    color: #777;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    transition: all 0.2s ease-in-out;
    width: calc(50% - 20px);
}

.question-button:hover[b-wl6u20es32] {
    background-color: #eee;
    border-color: #bbb;
}

.question-button:active[b-wl6u20es32] {
    background-color: #ddd;
    border-color: #999;
    transform: translateY(1px);
    box-shadow: none;
}

@media (max-width: 640px) {
    .question-button[b-wl6u20es32] {
        width: 100%;
        font-size: 14px;
        padding: 8px 12px;
    }

    .button-container[b-wl6u20es32] {
        flex-direction: column;
    }
}
/* /Pages/PlantDetails.razor.rz.scp.css */
/* Plant Information Page */

/* Page Container */
.plant-info[b-kjtovef3i2] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 640px;
}

/* Plant Name */
.plant-name[b-kjtovef3i2] {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Subtitle */
.subtitle[b-kjtovef3i2] {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Plant Image */
.plant-image[b-kjtovef3i2] {
    width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}

/* Image Caption */
.image-caption[b-kjtovef3i2] {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 20px;
    max-width: 100%;
    overflow-wrap: break-word;
}

/* Plant Description */
.plant-description[b-kjtovef3i2] {
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Media Queries */
@media (min-width: 640px) {
    /* Plant Name */
    .plant-name[b-kjtovef3i2] {
        font-size: 3rem;
    }

    /* Subtitle */
    .subtitle[b-kjtovef3i2] {
        font-size: 1.5rem;
    }

    /* Plant Image */
    .plant-image[b-kjtovef3i2] {
        margin-right: 20px;
        margin-bottom: 0;
        max-width: 100%;
        height: auto;
    }

    /* Plant Description */
    .plant-description[b-kjtovef3i2] {
        font-size: 1.2rem;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-nnt3s3yu28] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-nnt3s3yu28] {
    flex: 1;
}

.sidebar[b-nnt3s3yu28] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-nnt3s3yu28] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-nnt3s3yu28]  a, .top-row[b-nnt3s3yu28]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-nnt3s3yu28]  a:hover, .top-row[b-nnt3s3yu28]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-nnt3s3yu28]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-nnt3s3yu28] {
        display: none;
    }

    .top-row.auth[b-nnt3s3yu28] {
        justify-content: space-between;
    }

    .top-row[b-nnt3s3yu28]  a, .top-row[b-nnt3s3yu28]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-nnt3s3yu28] {
        flex-direction: row;
    }

    .sidebar[b-nnt3s3yu28] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-nnt3s3yu28] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-nnt3s3yu28]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-nnt3s3yu28], article[b-nnt3s3yu28] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-bp9aekt6lj] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-bp9aekt6lj] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-bp9aekt6lj] {
    font-size: 1.1rem;
}

.oi[b-bp9aekt6lj] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-bp9aekt6lj] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-bp9aekt6lj] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-bp9aekt6lj] {
        padding-bottom: 1rem;
    }

    .nav-item[b-bp9aekt6lj]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-bp9aekt6lj]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-bp9aekt6lj]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-bp9aekt6lj] {
        display: none;
    }

    .collapse[b-bp9aekt6lj] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-bp9aekt6lj] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
