@page "/key"
@inject IKey KeyController

<PageTitle>Key to Mallorca</PageTitle>

<h1>Key to Mallorca</h1>
@if(KeyController?.QuestionA == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="question-button-container">
        <button class="question-button" @onclick="ClickHandlerA">
            <span class="colourful">@KeyController.QuestionA</span>
        </button>
        <button class="question-button" @onclick="ClickHandlerB">
            <span class="colourful">@KeyController.QuestionB</span>
        </button>
    </div>
    <div class="question-button-container">
        <button class="question-button" @onclick="KeyController.HistoryBackward">Back</button>
        <button class="question-button" @onclick="KeyController.HistoryForward">Forward</button>
    </div>
    <div class="question-button-container">
    <button class="question-button" @onclick="KeyController.ResetToStart">Reset To Start</button>
    </div>
}


@code{


    private async Task ClickHandlerA()
    {
        await KeyController.GetNextQuestion('a');
    }

    private async Task ClickHandlerB()
    {
        await KeyController.GetNextQuestion('b');
    }

    protected override async Task OnInitializedAsync()
    {
        await KeyController.GetNextQuestion();
        await base.OnInitializedAsync();
    }

}