@page "/key"
@inject KeyController KeyController
@* @inject DataService DataService *@

<PageTitle>Key to Mallorca</PageTitle>

<h1>Key to Mallorca</h1>
@if(KeyController?.QuestionA == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="question-button-container">
        <button class="question-button" @onclick="ClickHandlerA">
            <span class="colourful">@KeyController.QuestionA</span>
        </button>
        <button class="question-button" @onclick="ClickHandlerB">
            <span class="colourful">@KeyController.QuestionB</span>
        </button>
    </div>
    @* <div class="question-button-container"> *@
    @*     <button class="question-button" @onclick="KeyController.GetPreviousQuestion">Back</button> *@
    @*     <button class="question-button" @onclick="KeyController.GetNextQuestionFromHistory">Forward</button> *@
    @* </div> *@
    @* <button class="question-button" @onclick="KeyController.Reset">Reset</button> *@
    @* <p></p> *@
}


@code{


    private async Task ClickHandlerA()
    {
        await KeyController.GetNextQuestion('a');
    }

    private async Task ClickHandlerB()
    {
        await KeyController.GetNextQuestion('b');
    }

    // private bool _isFinalAnswer(string answer)
    // {
    //     return !int.TryParse(answer, out _) && !answer.StartsWith("Family") && !answer.StartsWith("Group");
    // }

    protected override async Task OnInitializedAsync()
    {
        await KeyController.GetNextQuestion();
        await base.OnInitializedAsync();
    }

}